.box{
    background-color: rgb(15, 126, 223);
    width: 100%;
    height: 100px;
    
}
@media(min-width:768px){
    .box{
        background-color: red;
        
        

    }
}
@media(min-width:1024px){
    .box{
        background-color: yellow;
    }


}
.menu{
    text-decoration: none;
    
}