.av{
    border: 7px solid black;
    height: 500px;
    width: 900px;
    padding: 5px;
    background-color: aqua;

    

}
img{
    height: 350px;
    width: 250px;
    float: left;
    
}
h3{
    text-align:left;
    padding-top: 300px;
}
p{
    text-align: center;
    font-size: large;
}
