.jk{
    padding-left: 20px;
    border: 2px solid black;
    margin-right: 5px;
    margin-bottom: 0px;
    margin: 13px;

    
    

}
#id1{
    background-color: aqua;
    height:56px;
    text-align: left;
}

#id2{
    background-color: aquamarine;
}
